<div id = "logcontainer">
    <h1>Please login Here</h1>

      {{#if error3}}
        <h2 id = "error1">Please enter the correct password</h2>
      {{/if}}

       {{#if error9}}
        <h2 id = "error1">Please enter the correct email address</h2>
      {{/if}}
     <form action="/login" method="POST" id="sign-form">
    
  
    
    <input id  = "email" name="email_add" placeholder="Email Address..."  autocomplete="off">
    <br>
    
    <input id  = "password" name="password" type = "password" placeholder="password..."  >
   
    <br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id = "regsignup">LOGIN</button>
    </form>

    


</div>