<div id = "profilecontainer">
    <h1>Welcome to my petition please fill the Details</h1>
     {{#if error4}}
      <h3 >Please enter valid Url</h3>
     {{/if}}
     <form action="/profile" method="POST" id="sign-form">
    
    <input id  = "age" name="age" placeholder="age" autocomplete="off"
>
    <br>
    
    <input id  = "city" name="city" placeholder="city"autocomplete="off"
 >
    <br>
    
    <input id  = "url" name="url" placeholder="url"autocomplete="off"
 >
    <br>
    
    
    <button id = "regsignup"> CONTINUE</button>
    </form>