<div id="container3">
    <h1 id="headingsign">Here are all the lovely people who have signed the petition:</h1>
    <div id="signlist">
        
            {{#signed}}
                <ul>{{.}}</ul>
            {{/signed}}
         
    </div>
</div>

    
