<div id="container2">
    {{> logout}}
    <h1 id="h1thankyou">Thank you for signing the petition</h1>
     <img src = "{{signature1}}">
{{!-- needs to be a link and to include a count X of the number of signatories --}}
  {{!-- <form action="/thankyou/delete" method="POST">
        <button id="delete">Delete your signature<br /></button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form> --}}
   <a href="/signatories"> <h2 id="link">See the names of the {{sigTotal}} wonderful,attractive, and intelligent people who signed this petition</h2>
    
    </a>
  
   
    
</div>