<div id="container2">
    <h1 id="h1thankyou">Thank you for signing the petition</h1>
{{!-- needs to be a link and to include a count X of the number of signatories --}}
   <a href="/signatories"> <h2 id="link">See the names of the {{sigTotal}} wonderful,attractive, and intelligent people who signed this petition</h2>
    
    </a>
  
    <img src = "{{signature1}}">
    
</div>

