<div id="container1">
    {{> logout}}

    
    <h1 id="h1welcome">Welcome to my petition </h1>
     
    <form action="/welcome" method="POST" id="sign-form">

  

    <div id="sig-pic">
      <input id="signature" name="signature" type="hidden"  required></input>
      <p>Please sign here</p>
        <canvas > </canvas>
    </div>
   
    <input type="hidden" name="_csrf" value="{{csrfToken}}"> 
    <button id="submit">Submit</button>


    </form>
    </div>
    {{#if error}}
        <h2 id = "error">Oh no, something went wrong. Please refresh the page</h2>
    {{/if}}



