<div id="container1">
    <h1 id="h1welcome">Welcome to my petition </h1>
     
    <form action="/welcome" method="POST" id="sign-form">

    
    <label for = "first">First Name</label>
    <input id  = "first" name="first_name" placeholder="First name..." required >
    <br>
      <label for = "last">Last Name</label>
      <input id  = "last" name="last_name" placeholder="Last name..." required >
  

    <div id="sig-pic">
      <input id="signature" name="signature" type="hidden"  required></input>
      <p>Please sign here</p>
        <canvas id="canvas">

        </canvas>
    </div>
   

    <button id="submit">Submit</button>


    </form>
    {{#if error}}
        <h2 id = "error">Oh no, something went wrong. Please refresh the page</h2>
    {{/if}}


</div>
