* {
    margin: 0;
    padding: 0;
}
/* welcome page */
#container1 {
    min-height: 100vh;
    padding: 50px;
    background-color: pink;
    text-align: center;
}
label {
    font-weight: bold;
    font-size: large;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#h1welcome {
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

input {
    width: 300px;
    height: 35px;
    background-color: lightyellow;
    border: tomato solid 2px;
    margin: 5px;
    font-size: 20px;
}
input:focus {
    background-color: rgb(252, 252, 178);
    border: tomato solid 2px;
    outline: none;
}

canvas {
    width: 500px;
    height: 100px;
    border: tomato dotted 2px;
    background-color: lightyellow;
    padding: 5px;
    margin: 5px;
}

#submit {
    width: 300px;
    height: 50px;
    background-color: lightyellow;
    border: tomato solid 2px;
    margin: 5px;
    font-size: 30px;
    color: tomato;
}

#submit:focus {
    outline: lightskyblue;
    background-color: rgb(252, 252, 178);
}

/* thank you page */
#container2 {
    min-height: 100vh;
    background-color: pink;
    background-size: cover;
}

#h1thankyou {
    padding: 20px;
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
}
#link {
    padding-left: 50px;
}
#error {
    text-align: center;
    color: red;
}
#error1 {
    text-align: center;
    color: blue;
}
#error2 {
    text-align: center;
    color: blue;
}
#error3 {
    text-align: center;
    color: blue;
}

/* signatories page */
#container3 {
    min-height: 100vh;

    background-color: pink;
    background-size: cover;
}

#headingsign {
    color: tomato;
    text-align: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#signlist {
    color: blue;
    padding-left: 600px;
    font-weight: 900;
    font-family: "Courier New", Courier, monospace;
}

#regcontainer {
    background-image: url(../regbackground.jpg);
    background-size: cover;
    text-align: center;
    height: 100vh;
    padding-top: 80px;
    color: darkred;
}
#logcontainer {
    background-image: url(../loginpage.jpg);
    background-size: cover;
    text-align: center;
    height: 100vh;
    padding-top: 80px;
    color: darkred;
}

#regsignup {
    height: 50px;
    width: 180px;
    background-color: darkgray;
    border-radius: 8px;
    font-size: 30px;
    margin: 30px;
}
